---
---

@import "partials/variables.scss";
// @import "partials/index.scss";
// @import "partials/index-2.scss";
// @import "partials/new-books-1.scss";
// @import "partials/nav-2.scss";
// @import "partials/cards.scss";

 
footer{
  margin-top: 10rem;
}
.bold {
  font-weight: bold;
} // ul {padding-left:0px!important;margin-bottom:0px!important;}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.notop {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.nobottom {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.nosides {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.inline {
  display: inline;
}
.center {
  text-align: center;
}
.italics {
  font-style: italic;
}
.no-top {
  padding-top: 0px;
}
.noleftp {
  padding-left: 0px;
}
.norightp {
  padding-right: 0px;
}
 
  .dept-intro-text {
    // margin-top: 2rem;
    font-size: 1.8rem;
    margin-bottom: 3rem!important;
    }
#bio-top-video {
  max-width: 100%;
}
.dept-top-video-wrap {
  padding: 1rem;
  background-color: $green-lighter-2; // background-color: $brown_logo_light; // 
  background-image: $noise;
  text-align: right;
  border-radius: 3px;
  box-shadow: 2px 3px 3px #999;
  .dept-top-video-caption {
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px $green-lighter;
    margin-bottom: 0px;
  }
}
.dept-sub-nav {
  padding-left: 0px;
  li {
    display: inline;
  }
}
.dept-subnav-buttony {
  background-color: $green-wanna-transparent;
  background-image: $noise;
  border-bottom: 1px solid $brown_logo_dark;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1.9rem;
  font-family: $sans-serif;
  color: #333;
  transition: background-color 2s ease;
  transition: color 1s ease;
  .fa-arrow-down,
  .fa-bars {
    float: right;
    text-align: right; // display: inline-block;
    font-size: 1.5rem;
    position: relative;
    top: 5px;
  }
}
.dept-subnav-buttony-2 {
  background-image: $noise;
  border-bottom: 5px solid $brown_logo_dark;
  // border: 5px solid $brown_logo_dark;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.9rem;
  font-family: $sans-serif;
  a {color: #333;  
  transition: background-color 2s ease;
  transition: color 1s ease;}
  .fa-envelope {
    margin: 0 auto 1rem;
    display: block;
    font-size: 5rem;
  }
  // border-radius: 5px;
  box-shadow: 2px 3px 1px #999;
  margin-top:4rem;
}
// .dept-subnav-buttony:hover {
//   background-color: $green-lighter-2;
//   color: white;
// }
.dept-subnav-buttony-2 a:hover {
  background-color: $green-lighter-2;
  color: white;
 
}
// .dept-subnav-buttony-2:hover {
//   background-color: $green-lighter-2;
//   color: white;
// }
.dept-testimonial,
.dept-recent-grads {
  font-family: "Roboto Slab", serif;
  font-size: 21px;
  color: #000;
}
.dept-testimonial {
  line-height: 35px;
  padding-right: 1rem;
}
.dept-recent-grads {
  line-height: 27px;
  font-size: 24px;
}
.dept-testimonial-h3,
.dept-recent-grads-h3 {
  font-family: "Roboto Slab", serif;
  font-size: 34px !important;
  color: #00582c !important;
  margin-bottom: 20px !important;
  font-weight: 700 !important;
  line-height: 1.1em !important;
}
.dept-testimonial-row,
.dept-recent-grads-row {
  background-color: $brown_alt-2;
  background-image: $noise;
  padding: 30px 0 70px;
  overflow: hidden;
  margin-top: 90px;
  margin-bottom: 90px;
}
.dept-testimonial-credit {
  font-family: $sans-serif;
  font-style: normal;
  font-size: 14px;
  color: rgb(51, 51, 51);
}
.dept-testimonial-credit-paralax {
  font-family: $sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #d4d4d4;

}
h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: #00582c;
  font-size: 34px;
  margin-bottom: 25px;
}
figcaption {
  text-align: right;
  background-color: $green-wanna-transparent;
  background-image: $noise;
}
figure {
  border: 2px solid $green-wanna-transparent;
  margin-bottom: 2rem;
} // TABBED CONTAINER TEST
#exTab2 {
  margin-bottom: 4rem;
  .tab-content {
    background: rgba(255, 255, 255, 0.5);
    padding: 2rem 0px;
    border-radius: 4px;
    // border: 1px solid #999; // background-color: $green-wanna-transparent;
    box-shadow: 3px 2px 3px #999;
  }
  .nav-tabs {
    // background-color: $green-wanna-transparent;
    font-family: $serif;
    // border: 0px solid #ddd; // margin-bottom: -1px;
  }
}
.get-flexed {
  display: flex;
  flex-direction: column;
}
.stdnt-res-lede {
  font-family: $sans-serif;
  font-size: 21px;
  color: #000;
  line-height: 35px;
  margin-bottom: 3rem!important;
  margin-top: -1rem;
  padding: 0px 1rem;
}
.researchers-slide-group {
  margin-top: 1rem;
  // display: flex; // flex-wrap: wrap;
  ul {
    padding-left: 10px;
  }
  ul li {
    font-family: $serif;
    font-size: 18px;
    margin-bottom: 2rem;
    line-height: 2.4rem;
  }
}
.stdnt-res-desc-label {
  font-weight: 700;
  font-size: 20px;
  margin-right: 5px;
}
#bio-student-recent-successes {
  text-align: center;
  padding: 0px;
}
#js-CycleList {
  padding-left: 0px;
  font-size: 21px;
  font-family: $sans-serif;
}
#js-CycleList li {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.25s, opacity 0.25s;
  left: 1px;
  top: 15px;
}
#js-CycleList .highlight {
  visibility: visible;
  opacity: 1;
}
.faculty-profile-card-imgblock {
  img {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    height: 175px;
    // box-shadow: 0px 2px 2px lightgray;
  }
}
.faculty-profile-card-textblock {
  // font-family: $serif;
}
.faculty-profile-card-name {
  text-align: center;
  font-size: 16px!important;font-weight: 800;
  margin-top: 1.5rem;
  font-family: $sans-serif;
  margin-bottom: 10px!important;
  line-height: 18px!important;
  margin-left: 5px!important;
}
.faculty-profile-card-link {
  text-align: center;
  margin-top: 1rem;
  a {font-size: 1.2rem;}
}
.faculty-profile-card {
  // background-color: $green-wanna-transparent; // background-image: $noise;
  padding: 1rem ;
  box-shadow: 0px 0px 2px gray;
   
  border-radius: 3px;
  margin-bottom: 2rem;
  display: flex;
}
.no-dec {
  text-decoration: none;
  color: inherit;
}
.no-dec:hover,
.no-dec:focus {
  color: inherit;
}
.dept-student-researchers {
  .stdnt-res-lede-2 {
    font-size: 2.5rem;
    text-align: center;
    font-family: $serif;
  }
  // h2 {padding-bottom: 30px;}
}
.mediaGroup .heading {
  padding-bottom: 30px;
}
.dept-news {
  // padding-left: 0px;
  li {
    list-style-type: square;
    // text-align: center;
    font-family: $serif;
    font-size: 18px;
    line-height: 2.7rem;
    //  text-shadow: 1px 1px 0px #999;
     a{color:#fff}
    //  a{color:#23527c}
     a:hover,a:focus{color: #333;}
  }
}

.dept-majors-minors {
  ul {padding-left: 20px;font-family: $serif;font-size: 1.6rem;list-style-type: square;}

}
p.dept-degrees-additional {
  font-size: 1.7rem;
  font-family: $serif;
  margin-top: 2rem;
  // font-style: italic;
  background-color: $green-wanna-transparent;
  // background-image: $noise;
  padding: 3rem;
}
.majorminorsubheading {
  background-color: $green-wanna-transparent;
  background-image: $noise;
  padding: 1rem 1.5rem;
  box-shadow: 1px 1px 1px #999;
  
}
 
.font-shadow-light {
  text-shadow: 1px 1px 1px #888;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: #555;
	cursor: default;
	background-color: rgba(255, 255, 255, 0.5);
	// border: 1px solid #ddd;
	border-bottom-color: transparent;
}
#recent-grads-bio li{
  margin-bottom: 3px;
  margin-left: 5px; 
  list-style-type: none!important;

}
.mb1r{
  margin-bottom: .5rem;
  display: block;
}
.faculty-profile-card-description{
  font-size: 1.4rem;
}
.majorsminors {
  
font-size: 1.8rem;
font-family: $sans-serif;
  ul{padding-left:20px;list-style-type: square;font-family: $serif;margin-bottom: 3rem;}
}
.explore-more-lede{
  margin-bottom: 5rem!important;
}
 .testimonialRow  {
  background: #fff!important;}
  .testimonialRow:before, .slantBefore:before {
    content: " ";
    display: block;
    transform: skewY(-2deg);
    // background-color: #dfdede;
    background-color: #fff!important;
    width: 101%;
    height: 120px;
    margin-top: -2%;
    position: absolute;
  }

  .faculty-profile-card-email {
    text-align: center;margin-top:-2.5rem;
    a {text-decoration: none; font-size:1.2rem;}
  }


  .billboard.bb1 {
    background-image: url(https://www.rocky.edu/sites/default/files/ot-billboard-01.jpg)!important;
    // background-image: url(https://www.rocky.edu/sites/default/files/billboard-bio-01.jpg)!important;
  }
  .billboard.bb2 {
    background-image: url(https://www.rocky.edu/sites/default/files/billboard-bio-02.jpg)!important;
  }
  .billboard.bb3 {
    background-image: url(https://www.rocky.edu/sites/default/files/ot-billboard-02.jpg)!important;
  }

  .student-researcher-picture {
    border: 7px solid lightgray;
    border-radius: 5px;
  }
  .student-researcher-side-text{
    font-size: 1.8rem!important;
    // font-weight: 300;
    font-family: $sans-serif!important;
    align-self: center;
  }

  .student-researcher-side-text-col {
    display: flex;
    align-items: center;
    align-content: center;
    height: 400px;
  }

  .program-highlights-top{
    padding-left:20px;
    font-size: 1.6rem;
  }

  .businessIntershipsLogosSection {
    img {max-width: 200px;
    padding: 1rem;}
  }

  .plain-h3 {
    font-family: sans-serif!important;
    color: #333!important;
    font-size: 24px!important;
    font-weight: 700;
  }
  .otd-news-link {
    font-size: 16px;
  }
  .ot-news-caption {
    font-size: 16px!important;
    font-family: $sans-serif !important;
    // background: #999;
    margin-bottom: -5px;
      // border-top: 1px dotted #999;
      // border-right: 1px dotted #999;
    // border-left: 1px solid #999;
    line-height: 26px!important;
  }
  .ot-news-pic {
    box-shadow: 1px 1px 3px lightgray;
    padding: 1rem;
    margin-bottom: 3rem;
  }
  .ot-field-work-paragraph {
    font-size:18px!important;
    line-height: 32px!important;
  }
  .mtb100p {
    margin-top: 150px!important;
    margin-bottom: 150px!important;
  }

  .intro-alert{
    background-color: $palette-11;
    background-image: $noise;
    display: block;
    overflow: hidden;
    padding: 1rem;
    margin-bottom: 3rem;
    // display: flex;
    margin-top: 1rem;
  }
  .sans {
    font-family: $sans-serif!important;
  }
  .lh28{
    line-height: 28px!important;
  }

  .faculty-profile-card-title {
    font-size: 14px!important;
    text-align: center;
    line-height: 20px!important;
    margin-left: 5px;
  }
  .fs14p {
    font-size: 20px!important;
  }.fs18px{
    font-size: 18px!important;
  }
  #bio-faculty-cards-section{
    display:inline!important;
  }

  .faculty-profile-card-imgblock{
    width: 160px;
  }